/http/BingSiteAuth.xml
/http/google7b0b80555de58c98.html
/http/public
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.host
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log