

/* Shop css */

.product-txt-block .name {
    color:dodgerblue;
    text-align: center;
    font-size: 33px;
    font-weight: 200;
}

.shop-price-block span {
    padding: 7px;
    background:lightyellow;
    color: green;
}

.shop-price-block {
    text-align: center;
    font-size: 22px;
}

.shop-price sub {
    font-size: 22px;
    color:#333;
}

.shop-price {
    text-align: center;
    font-size: 55px;
    font-weight: 200;
    color: dodgerblue;
}

.vf-shop-card {
    transition:.5s;
    border: solid 1px #dfdfdf;
    border-radius: 10px;
    margin:10px 0;
    padding:25px 0;
    text-align: center;
}

.vf-shop-card .unit {
    padding: 2px 5px;
    margin:5px;
    background:lightyellow;
    color:#555;
}

.vf-shop-card .price sup {
    font-size: 0.6em;
    color:green;
}

.vf-shop-card .price sub {
    font-size: 0.6em;
    color:#777;
}

.shop-title {
    margin-top:25px;
    font-size: 17px;
    font-weight: bold;
    color:#555;
}

.vf-shop-card .price {
    padding:10px;
    text-align:right;
    font-size:20px;
    font-weight:bold;
    color: #777;
}

.vf-shop-card a {
    text-decoration: none;
}

.vf-shop-card img {
    width:100%;
}

.vf-shop-card h5 {
    font-size: 1.4em;
    color:#c44ec4;
    font-weight:900!important;
}

.vf-shop-card:hover{
    transform: scale(1.007);
}

/* Cart */

.cart-link a {
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.1em;
    border-radius:4px;
    background:yellow;
    padding:3px 5px;
}

#cart_count{
    color:red;
    font-weight: bold;
}

.shop-card-label a{
    color:silver;
    text-decoration: none;
}
.shop-card-label a:hover {
    color:#555;
}

.shop-card-label {
    top:-3px;
    left:25px;
    padding:5px 7px;
    position:absolute;
    background:white;
    border:solid 1px #dfdfdf;
    border-radius:7px;
}

.vf-shop-card-footer{
    margin:0;
    padding:10px;
    letter-spacing:0.05em;
    color:violet;
}

.cart-table-row{
    background:#dfdfdf;
}

.cart-price {
    border-radius: 3px;
    background: #dfdfdf;
    color: firebrick;
    padding: 4px;
}

.fake-header{
    width: 100%;
    padding:10px;
    font-size:25px;
    text-align:center;
    color:#4ae4bb;
}

.bold-text{
    padding:10px;
    font-size:17px;
    color:dodgerblue;
}

.order-status-0 {
    color:#333;
    padding:2px 7px;
    border-radius:3px;
    background:#ff6666;
}

.order-status-1 {
    color:firebrick;
    padding:2px 7px;
    border-radius:3px;
    background:yellow;
}

.order-status-2 {
    color:firebrick;
    padding:2px 7px;
    border-radius:3px;
    background:#4ae4bb;
}




/* - - - - - - - - - - - - Side Bar - - - - - - - - - - */


.shop-selected {
    background:black !important;
    color:#ddd;
}

a.category-link {
    text-decoration:none !important;
}

.category-link {
    background: #444;
    color:#ddd;
    margin-left: 2px;
    text-align:left;
    padding:25px!important;
    border-bottom: solid 2px #555;
    border-left: solid 3px orange;
}

.category-link:hover {
    transition: .5s;
    background: black;
}

.category-link h5{
    font-weight:800!important;
    color:#ddd;
    line-height: 0.8em;
    padding:6px 0;
    margin:0;
}

.category-link span {
    color:white;
}

.category-link p{
    color:#ccc;
    line-height:1em;
    padding:0;
    font-size:1.5em;
}

.category-link a{
    color:#555;
    text-decoration: none;
}

.category-link img{
    width: 100%;
}





































